{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Create an Account</h2>
<form method="post">

    <label>First Name:</label>
    <input type="text" name="first_name" required>

    <br><br>

    <label>Last Name:</label>
    <input type="text" name="last_name" required>

    <br><br>

    <label>Email:</label>
    <input type="email" name="email" required>

    <br><br>

    <label>Username:</label>
<input type="text" name="username" required>

<br><br>

<label>Password:</label>
<input type="password" name="password" required>

<br><br>


<p>Sign Form goes here</p>
{% endblock %}
