body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #600064, #ffffff);
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}